[Unit]
Description=cassandra
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/cassandra
ExecStart=/opt/cassandra/cassandra.mjs
EnvironmentFile=/opt/cassandra/.env

[Install]
WantedBy=multi-user.target
